body {
  background-color: bisque;
  color: darkorange;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
img {
  border: 10px;
  border-radius: 69%;
  margin: 10px;
  padding: 20px;
  height: 150px;
  width: auto;
}
